body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a,img,i,b{
    margin:0; padding:0;border:0;
}
body {
    background:#fff;
    font-size:14px;
    font-family:"Microsoft Yahei";
}
td,th,caption {
    font-size:14px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight:normal; font-size:100%;
}
 caption, em, strong, th, i,b {
    font-style:normal; font-weight:normal;
}
 input{
     border:none;
 }
a {
  text-decoration:none;
}
img {
    border:none;
}
ol,ul,li {
    list-style:none;
}
table {
    border-collapse:collapse;
}

